#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
# endpoint_add_tcp "127.0.0.1:30120"
# endpoint_add_udp "127.0.0.1:30120"
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 8
set steam_webApiKey "279AAB8140E8ECDA4506A569F3616294"
sets tags "default, deployer, qbcore, qb-core, Indonesia, Kehidupan, Studio"

## You MAY edit the following:
sv_licenseKey "cfxk_1FoWAePXJXMf1RISTluyK_2oWuLv"
sv_hostname "Kehidupan Studio"
sets sv_projectName "Kehidupan Studio"
sets sv_projectDesc "Dunia lain dari kehidupan nyata, tempat cari teman dan jodoh."
sets locale "id-ID"
load_server_icon myLogo.png
set sv_enforceGameBuild 2944
set mysql_connection_string "mysql://root@localhost/qbcoreframework_921908?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio false
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure qb-core
exec mods.cfg
exec vehicle.cfg
exec building.cfg
# ensure [ELS]
ensure [qb]

# Set Inventory Ox Libs
setr inventory:framework "qb"

# Set Illenium Appearance Locale
setr illenium-appearance:locale "en"

ensure [standalone]
ensure [voice]
ensure [defaultmaps]

## Permissions ##
add_ace group.admin command allow # allow all commands
# add_principal identifier.fivem:14187806 group.admin #Jesterday
add_principal identifier.fivem:14187806 qbcore.god #Jesterday
add_principal identifier.fivem:14189200 qbcore.god #Yadhi
add_principal identifier.fivem:14229522 qbcore.god

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
